#profile_header
  .row
    .col-md-4.profile_pic
      = gravatar_image @profile.user.email
    
    .col-md-8
      .profile_desc
        %p#notice= notice

        %p
          %b Bio:
          %br
          = @profile.bio
        %p
          %b City:
          %br
          = @profile.city
        / %p
        /   %b Image:
        /   = @profile.image

        - if current_user == @user
          = link_to 'Edit', edit_current_user_profile_path
  / - if current_user.is_public
  .profile_bookmarks
    %table
      - @user.bookmarks.each do |article|
        %tr
          %td= article.article.title
          %td= article.thought
          %td= button_to 'Show', article.article, class: "btn btn-info", method: :get
        

