= form_for @feed do |f|
  - if @feed.errors.any?
    #error_explanation
      %h2= "#{pluralize(@feed.errors.count, "error")} prohibited this feed from being saved:"
      %ul
        - @feed.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :category
    = select_tag("feed[category_ids][]", options_for_select(Category.all.collect { |category| [category.name, category.id] }, @feed.categories.collect { |category| category.id }), {:multiple=>true, :size=>5})
    / = f.collection_select(:category_id, Category.all, :id, :name)
  .actions
    = f.submit 'Save'
