%p#notice= notice

%p
  %b Url:
  = @feed.url
%p
  %b Title:
  = @feed.title
%p
  %b Description:
  = @feed.description
%p
  %b Articles:
  - @feed.latest_articles.each do |article|
    %br
      = article.title
    %br
      = article.content
    %br
      = article.url
    %br

= link_to 'Edit', edit_feed_path(@feed)
\|
= link_to 'Back', feeds_path
