.yield-wrapper
  - @articles.each do |article| 
    .article-wrapper 
      .article-title= link_to article.feed.title.upcase, article
      = article.title
      .bt= link_to 'Show', article 
      .bt= link_to 'Bookmark Article', new_bookmark_path(article_id: article.id)

  .paginate
  = will_paginate @articles