%p#notice= notice
.headline #{@category.name}
.yield-wrapper
  .article-wrapper
    - @category.feeds.each do |feed|
      .category= link_to feed.title, feed
      .bt= link_to 'Subscribe to feed', subscribe_feed_path
    %br
  .article-wrapper  
    .bt= link_to 'See all categories', categories_path


